# Restaurant Sales

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
sales_data = pd.read_csv('restaurant_orders.csv')

sales_data.head()

,Order ID,Order Date,Table Number,Customer ID,Item,Quantity,Price,Discount
0,1001,2022-01-01,1,1,Burger,2,10.0,0.0
1,1002,2022-01-01,1,1,Fries,1,5.0,0.0
2,1003,2022-01-02,2,2,Pizza,1,15.0,0.0
3,1004,2022-01-03,3,3,Burger,1,10.0,0.1
4,1005,2022-01-03,3,3,Soda,2,2.5,0.1

### What is the total revenue generated by the restaurant in the last year?

In [6]:
# Create 'Sales Amount' Column for each order
sales_data["Sales Amount"] = sales_data['Quantity'] * sales_data['Price'] - (sales_data['Price'] * sales_data['Discount'])

sales_data.head()

,Order ID,Order Date,Table Number,Customer ID,Item,Quantity,Price,Discount,Sales Amount
0,1001,2022-01-01,1,1,Burger,2,10.0,0.0,20.00
1,1002,2022-01-01,1,1,Fries,1,5.0,0.0,5.00
2,1003,2022-01-02,2,2,Pizza,1,15.0,0.0,15.00
3,1004,2022-01-03,3,3,Burger,1,10.0,0.1,9.00
4,1005,2022-01-03,3,3,Soda,2,2.5,0.1,4.75

In [7]:
revenue = sales_data["Sales Amount"].sum()

print(f"The Restaurant's Revenue is P{revenue:.2f}")

227.35

### What is the average order value?

### Which are the top 5 best-selling items?

### What is the percentage of orders that included a discount?

### What is the average discount percentage applied to items?

### What is the total revenue generated by each month in the last year?

### What is the average discount percentage applied to each month's orders?

### What is the percentage of orders that had more than one item?

### What is the average quantity of items per order?

### Which customers placed the most orders in the last year?